{% extends "layout.html" %}

{% block content %}
    <h1>Home</h1>
    Reports:
        <ul>
            <li><a href={{url_for('obj', obj_class="AllMetricsStatsHTML")}}>All Metrics Stats</a></li>
            <li><a href={{url_for('obj', obj_class="UMLClassDiagramObj")}}>UML Class Diagram</a></li>
            <li><a href={{url_for('obj', obj_class="UMLClassRelationDiagramObj")}}>UML Class Relation Diagram</a></li>
            <li><a href={{url_for('obj', obj_class="ImportsStatsHTML")}}>Imports Stats</a></li>
            <li><a href={{url_for('obj', obj_class="InProjectImportModuleGraphObj")}}>In Project Import Module Graph</a></li>
            <li><a href={{url_for('obj', obj_class="PackagesImportModuleGraphObj")}}>Packages Import Module Graph</a></li>
            <li><a href={{url_for('obj', obj_class="AllMetricsTable")}}>All Metrics Table</a></li>
        </ul>
{% endblock content %}