{% extends "layout.html" %}

{% block content %}
<h1>Open project</h1>
    <form method="POST" action="/project/open">
        <label for="load_project">Load Project:</label>
        <select id="load_project" name="load_project" style="width: 30ch;">

            {% for dataset_name in existing_dataset_names %}
            {% if loop.first %}
                <option value="{{ dataset_name }}" selected>{{ dataset_name }}</option>
            {% else %}
                <option value="{{ dataset_name }}">{{ dataset_name }}</option>
            {% endif %}
        {% endfor %}

        </select>

        <input type="submit" value="Submit">
    </form>


<h1>Load another project</h1>
    <label class='error_label'>{{error_message}}</label>
    <form method="POST" action="/project/new/source">
        <h2>Browse local files:</h2>
            <label for="filepath_input">File path</label>
            <input type="text" id="filepath_input" name="filepath_input" size="50"><br>
            <input type="submit" id="filepath_load_button" value="Load path"><br>
            <input type="file" id="filepath_browse_button" disabled webkitdirectory directory multiple/>
    </form>

    <form method="POST" action="/project/new/git">
        <h2>Github project:</h2>
        <label for="git_url">Git URL:</label>
        <input type="text" id="git_url" name="git_url" required size="50"><br>

        <label for="source_directory">Source Directory:</label>
        <input type="text" id="source_directory" name="source_directory" required><br>

        <label for="branch">Branch:</label>
        <input type="text" id="branch" name="branch" value="master"><br>

        <input type="submit" value="Submit">
    </form>


{% endblock content %}
